<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>left page</title>
    <style type="text/css">
        body{
            background-color:#87CEFA;
            padding:10px;
        }
        div{
            background-color:#1E90FF;
            padding:5px;
            margin-right:5px;
            margin-top:20px;
            width:100%;
            text-align:center
        }
        a{
            text-decoration:none
        }
    </style>
</head>
<body>
    <div><a href="errors/manageErrors" target="content">故障信息管理</a></div><br><br>
    <div><a href="cars/manageCars" target="content">车辆信息管理</a></div><br><br>
   <div> <a href="customers/manageCustomers" target="content">客户信息管理</a></div><br><br>
    <div><a href="#" target="content">维修记录管理</a></div><br><br>
    <div><a href="#" target="content">部件信息管理</a></div><br><br>
    <div><a href="employees/manageEmployees" target="content">员工信息管理</a></div>
</body>
</html>