<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆信息管理</title>
    {% load staticfiles %}
    <script src="{% static 'js/common.js'%}"></script>
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style type="text/css" rel="stylesheet">
       @import url("/static/css/common.css")

    </style>
    <script>
        function delData(){
            var ids_arr = checkSelection()
            var ids = ids_arr.join(",")
            if (ids != "")
                var c = confirm("确定要删除这些记录吗!")
                if(c==true)
                    window.location.href = "deleteCarById?ids="+ids
            else
                alert("请选择需要删除的内容!")
        }
        function search(){
            keywords = document.getElementById("keywords").value
            if(keywords != "")
                window.location.href = "getCarsByIdOrName?keywords=" + keywords
            else
                alert("请输入需要查询的内容")
         }

    </script>
    <style type="text/css" rel="stylesheet">
        @import url("/static/css/common.css")

    </style>
</head>
<body>
<div id="border_div">
<div id="header_div">
    <input type="text" name="keywords" id="keywords" placeholder="车辆型号/车辆名称">&nbsp;
    <button onclick="search()">搜索</button>&nbsp;
    <button><a href="toAddCar" style="text-decoration:none">添加</a></button>&nbsp;
    <button onclick="delData()">删除</button>
</div>

<div id="tb_div">
    <table border="1" cellspacing="0">
        <tr>
            <th><input type="checkbox" onclick="selectAll()" id="ctrl_box"></th>
            <th>车型编号</th>
            <th>车辆名称</th>
            <th>出厂时间</th>
            <th>总质量(kg)</th>
            <th>额定承重量</th>
            <th>电机功率(kw)</th>
            <th>发动机型号</th>
            <th>乘员数</th>
            <th>色系</th>
            <th>生产状态</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        {% for c_list in car_list %}
        <tr style="text-align:center">
            <td><input type="checkbox" value="{{c_list.car.car_id}}" name="selected" style="text-align:center"></td>
            <td>{{c_list.car.car_id}}</td>
            <td>{{c_list.car.car_name}}</td>
            <td>{{c_list.car.produce_time}}</td>
            <td>{{c_list.car.car_weight}}</td>
            <td>{{c_list.car.allowable_weight}}</td>
            <td>{{c_list.car.power}}</td>
            <td>{{c_list.car.engine}}</td>
            <td>{{c_list.car.number}}</td>
            <td>
                {% for color in c_list.color_list %}
                {{color}}<br>
                {% endfor %}
            </td>
            <td>{% ifequal c_list.car.is_removed 'F' %}在产 {% else %} 停产 {% endifequal %}</td>
            <td>{{c_list.car.remark}}</td>
            <td><a href="toUpdateCarById?car_id={{c_list.car.car_id}}">修改</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<div id="page_div">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="{{url}}?page={{previous_page}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for num in page_num %}
                {% if num == cur_page %}
                    <li class="active"><a href="{{url}}?page={{num}}">{{num}}</a></li>
                {% else %}
                    <li><a href="{{url}}?page={{num}}">{{num}}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                <a href="{{url}}?page={{next_page}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
    </div>
</body>
</html>