<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改车辆信息</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
<!--    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">-->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

<!--    -->
<!--    <script src="{% static 'js/bootstrap-datetimepicker.fr.js' %}"></script>-->
<!--    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>-->

    <script src="{% static 'js/common.js' %}"></script>

</head>
<body>
    <form action="updateCarById" method="post" onsubmit="return getColors()">
        <input type="hidden" value="{{carInfo.car.car_id}}" name="oldCarId">
        车型编号：<input type="text" value="{{carInfo.car.car_id}}" name="car_id"><br><br>

        车辆名称：<input type="text" value="{{carInfo.car.car_name}}" name="car_name"><br><br>

        出厂时间：<input type="text" id="produce_time" value="{{carInfo.car.produce_time}}" name="produce_time">

        <br><br>

        总质量(KG)：<input type="text" value="{{carInfo.car.car_weight}}" name="car_weight"><br><br>

        额定承重量(KG)：<input type="text" value="{{carInfo.car.allowable_weight}}" name="allowable_weight"><br><br>

        电机功率(KW)：<input type="text" value="{{carInfo.car.power}}" name="power"><br><br>

        发动机型号：<select name="engine" id="engine">
                        {% for engine in carInfo.engines %}
                            <option value="{{engine.component_id}}">{{engine.component_name}}</option>
                        {% endfor %}
                    </select>
        <!--<input type="text" value="{{carInfo.car.engine}}" name="">--><br><br>

        乘员数：<input type="text" value="{{carInfo.car.number}}" name="number"><br><br>

        色系：
            <input type="checkbox" {% if 1 in carInfo.color_list %} checked="checked" {%else%} checked="unchecked" {% endif %} value="1" name="color_list">黑色 &nbsp;

            <input type="checkbox" {% if 2 in carInfo.color_list %} checked="checked" {%else%} checked="unchecked" {% endif %} value="2" name="color_list">白色&nbsp;

            <input type="checkbox" {% if 3 in carInfo.color_list %} checked="checked" {%else%} checked="unchecked" {% endif %} value="3" name="color_list">灰色&nbsp;

            <input type="checkbox" {% if 4 in carInfo.color_list %} checked="checked" {%else%} checked="unchecked" {% endif %} value="4" name="color_list">蓝色&nbsp;

            <input type="checkbox" {% if 5 in carInfo.color_list %} checked="checked" {%else%} checked="unchecked" {% endif %} value="5" name="color_list">红色&nbsp;

            <input type="checkbox" {% if 6 in carInfo.color_list %} checked="checked" {%else%} checked="unchecked" {% endif %} value="6" name="color_list">紫色
        <br><br>

        生产状态：{% ifequal carInfo.car.is_removed 'F' %}
                      <input type="radio" checked="checked" value="F" name="is_removed">在产
                  {% else %}
                      <input type="radio" value="F" name="is_removed">在产
                  {% endifequal %}
                 {% ifequal carInfo.car.is_removed 'T' %}
                      <input type="radio" checked="checked" value="T" name="is_removed">停产
                  {% else %}
                      <input type="radio" value="T" name="is_removed">停产
                  {% endifequal %}<br><br>

        备注：<input type="textarea" value="{{carInfo.car.remark}}" name="remark"><br><br>
        <input type="hidden" name="colors" id="colors">
        <input type="submit" value="提交"> &nbsp;&nbsp; <input type="reset" value="重置">
    </form>

</body>
</html>