<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改车辆信息</title>
    {% load staticfiles %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">

    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.4/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="{% static 'js/common.js' %}"></script>
    <script src="/static/js/my_datetimepicker.js"></script>

    <style type="text/css" rel="stylesheet">
        @import url("/static/css/add_update_common.css")
    </style>
</head>
<body>
<div id="container_div">
    <form action="updateCarById" method="post" onsubmit="return getColors()">
        <input type="hidden" value="{{carInfo.car.car_id}}" name="oldCarId">
        <div class="row"><label class="col-md-2">车型编号</label>
            <input class="col-md-2" type="text" value="{{carInfo.car.car_id}}" name="car_id"></div>
        <br><br>

        <div class="row"><label class="col-md-2">车辆名称</label>
            <input class="col-md-2" type="text" value="{{carInfo.car.car_name}}" name="car_name"></div>
        <br><br>

        <div class="row">
            <label class="col-md-2">出厂时间</label>
        <div class="col-md-2">
            <div id="date2ID" class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <input id="dateID" class="form-control" value="{{carInfo.car.produce_time}}" readonly name="produce_time"
                       value="{{carInfo.car.produce_time}}">
            </div>
        </div>
        </div>

        <br><br>

        <div class="row"><label class="col-md-2">总质量(KG)</label>
            <input type="text" value="{{carInfo.car.car_weight}}" name="car_weight" class="col-md-2"></div>
        <br><br>

        <div class="row"><label class="col-md-2">额定承重量(KG)</label>
            <input type="text" value="{{carInfo.car.allowable_weight}}" name="allowable_weight" class="col-md-2"></div>
        <br><br>

        <div class="row"><label class="col-md-2">电机功率(KW)</label>
            <input type="text" value="{{carInfo.car.power}}" name="power" class="col-md-2"></div>
        <br><br>

        <div class="row"><label class="col-md-2">发动机型号</label><select name="engine" id="engine" class="col-md-2">
            {% for engine in carInfo.engines %}
            <option value="{{engine.component_id}}">{{engine.component_name}}</option>
            {% endfor %}
        </select></div>
        <br><br>

        <div class="row"><label class="col-md-2">乘员数</label>
            <input type="text" value="{{carInfo.car.number}}" name="number" class="col-md-2"></div>
        <br><br>

        <div class="row"><label class="col-md-2">色系</label>
            <div class="col-md-4"><input type="checkbox" checked="checked" value="1" name="color_list">黑色 &nbsp;

                <input type="checkbox" checked="checked" value="2" name="color_list">白色&nbsp;

                <input type="checkbox" checked="checked" value="3" name="color_list">灰色&nbsp;

                <input type="checkbox" checked="checked" value="4" name="color_list">蓝色&nbsp;

                <input type="checkbox" checked="checked" value="5" name="color_list">红色&nbsp;

                <input type="checkbox" checked="checked" value="6" name="color_list">紫色
            </div>
        </div>
        <br><br>

        <div class="row">
            <label class="col-md-2">生产状态</label>
            <div class="col-md-3">
                {% ifequal carInfo.car.is_removed 'F' %}
                <input type="radio" checked="checked" value="F" name="is_removed">在产
                {% else %}
                <input type="radio" value="F" name="is_removed">在产
                {% endifequal %}
                {% ifequal carInfo.car.is_removed 'T' %}
                <input type="radio" checked="checked" value="T" name="is_removed">停产
                {% else %}
                <input type="radio" value="T" name="is_removed">停产
                {% endifequal %}
            </div>
        </div>
        <br><br>

        <div class="row"><label class="col-md-2">备注</label>
            <textarea value="{{carInfo.car.remark}}" name="remark" rows="5" cols="70"></textarea></div>
        <br><br>
        <input type="hidden" name="colors" id="colors">
        <div><input type="submit" value="提交"> &nbsp;&nbsp; <input type="reset" value="重置"></div>
    </form>
</div>
</body>
</html>