<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改员工信息</title>
    {% load staticfiles %}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.4/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="{% static 'js/my_datetimepicker.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <style type="text/css" rel="stylesheet">
        @import url("/static/css/add_update_common.css")
    </style>
    <script>
        function checkInfo(){
            var id = $("#id").val()
            var reg_id = /^[0-9]{17}(X|x|[0-9]){1}$/
            if(id.length < 1 || id.length > 18 || reg_id.test(id) == false){
                $("#err_info").text("身份号格式错误")
                return false
            }else{
                var res = checkEmailOrTel()
                return res
            }
        }
    </script>
</head>
<body>
    <div id="container_div">
        <form action="updateEmployeeById" method="post" onsubmit="return checkInfo()">
            <label class="col-md-2">身份证号</label>
            <input type="text" name="id" value="{{employee.id}}" class="col-md-2" id="id"><br><br>
            <!--<label class="col-md-2">员工编号</label>
            <input type="text" name="emp_id" value="{{employee.emp_id}}" class="col-md-2"><br><br>-->
            <label class="col-md-2">员工姓名</label>
            <input type="text" name="emp_name" value="{{employee.emp_name}}" class="col-md-2"><br><br>
            <label class="col-md-2">联系电话</label>
            <input type="text" name="telephone" value="{{employee.telephone}}" class="col-md-2" id="tel"><br><br>
            <label class="col-md-2">邮箱</label>
            <input type="text" name="email" value="{{employee.email}}" class="col-md-2" id="email"><br>
            <br>
            <label class="col-md-2">性别</label>
            <div class="col-md-3">
                {% ifequal employee.sex 'M' %}
                      <input type="radio" checked="checked" value="M" name="sex">男 &nbsp;&nbsp;&nbsp;
                {% else %}
                        <input type="radio" value="M" name="sex">男 &nbsp;&nbsp;&nbsp;
                {% endifequal %}
                {% ifequal employee.sex 'F' %}
                      <input type="radio" checked="checked" value="F" name="sex">女
                {% else %}
                        <input type="radio" value="F" name="sex">女
                {% endifequal %}
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-2"><label>入职时间</label></div>
            <div class="col-md-2">
		    	<div id="date2ID" class="input-group">
		      		<div class="input-group-addon">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
					</div>
		      		<input id="dateID" class="form-control" value="{{employee.join_time}}" readonly name="join_time">
		    	</div>
			</div>
            </div>

            <br><br>
            <label class="col-md-2">所在部门</label>
                {% if depts is not null %}
                    <select name="emp_dept" class="col-md-2">
                        {% for dept in depts %}
                            <option value="{{dept.dept_id}}">{{dept.dept_name}}</option>
                        {% endfor %}
                    </select>
                {% endif %}<br><br>
            <label class="col-md-2">就职状态</label>
                <div class="col-md-3">{% ifequal employee.is_removed 'F' %}
                      <input type="radio" checked="checked" value="F" name="is_removed">在职 &nbsp;&nbsp;&nbsp;
                {% else %}
                        <input type="radio" value="F" name="is_removed">在职 &nbsp;&nbsp;&nbsp;
                {% endifequal %}
                {% ifequal employee.is_removed 'T' %}
                      <input type="radio" checked="checked" value="T" name="is_removed">离职
                {% else %}
                        <input type="radio" value="T" name="is_removed">离职
                {% endifequal %}
                </div>
            <br>
                <span id="err_info" style="color:red;"></span>
            <br><br>
            <input type="hidden" value="{{employee.id}}" name="old_id"><br>
            <input type="hidden" value="{{employee.emp_id}}" name="old_emp_id">
        <div>
            <input type="submit" value="提交">&nbsp;&nbsp;<input type="reset" value="重置">
        </div>
        </form>
    </div>
</body>
</html>