
        div{
            margin-left:2%;
            border:1px solid;
            border-color:red;
            padding-left:2%
        }
        #header{
            margin-top:2%;
        }
        table{
            width:100%;
            margin-top:1%;
        }
        .table th{
            text-align:center;
            vertical-align:middle
        }